# Ignore everything
/*

!.gitignore
!CookZ/
!CookZPlants/
!ModsMetaData/
ModsMetaData/**/*.bikey
ModsMetaData/**/*.pbo
ModsMetaData/**/*.pboX
ModsMetaData/**/*.bisign
ModsMetaData/@ConfigurableCombineItems/**

!ModData
ModData/*
!ModData/buildScripts/